a.nav:link { color: #800000; font-weight: bold; text-decoration: none; }
a.nav:visited { color: #800000; font-weight: bold; text-decoration: none; }
a.nav:hover { color: #333333; font-weight: bold; text-decoration: none; }
a.nav:active { color: #800000; font-weight: bold; text-decoration: none; }