h1 {
	text-align: center;
	border: 1px solid black;
	background: silver;
}

h2 {
	font-size: large;
}

h3 {
	font-size: large;
}

table {
	width: 100%;
	border: 1px solid black;
}

th {
	width: 20%;
	text-align: left;
	background: silver;
}

div#copyright {
	font-size: small;
}

/* hack for browsers not supporting q */
q:before, q:after {
	content: "";
}
