# odma.info/dev/devNotes/.htaccess   UTF-8                  dh:2007-04-26
AddCharset utf-8 .txt
Redirect /dev/devNotes/tBlzT8bS/02 http://odma.info/dev/devNotes/2007/02
Redirect /dev/devNotes/tBlzT8bS    http://odma.info/dev/devNotes/2006

# 0.02 2007-04-26-18:12 Attempt to redirect the remaining embargoed folders
#      with a single with a single directive.
# 0.01 2007-04-26-16:12 Experiment with redirection of embargo material to
#      public accessibility.  The 2007/02 material redirected successfully.
# 0.00 2006-11-05-12:38 Introduce default utf-8 for .txt files - This could
#      be moved higher in the ODMdev hierarchy.
#
#               *** end of odma.info/dev/devNotes/.htaccess ***