# nfoWorks.org/.htaccess               UTF-8                  dh:2008-02-16
AddCharset utf-8 .txt

# 0.00 2008-02-16-17:24 Introduce default utf-8 for .txt files just as
#      for nfoWare.com too.  We only use UTF-8 in this site.
#
#                       *** end of nfoWorks.org/.htaccess ***