vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Sep 2023 16:51:38 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|bib/c000000.htm construction/c000000.htm construction/c000001.htm construction/templates/00/c000004.htm construction/templates/00/c000006a.htm construction/templates/00/c000006b.htm construction/templates/00/c000007a.htm c000000.htm construction/2007/11/c071101a.htm construction/templates/00/c000003a.htm construction/templates/00/c000004a.htm construction/templates/00/c000005a.htm construction/templates/00/c000006b1.htm construction/templates/00/c000006c1.htm construction/2007/11/c071101.htm construction/2007/11/c071101d3.htm construction/2007/11/c071101d4.htm images/c000000.htm construction/templates/00/c000004e.htm construction/2007/11/c071101d.htm construction/2007/11/c071101d1.htm construction/2007/11/c071101d2.htm construction/templates/00/c000004d.htm construction/templates/00/c000006.htm construction/templates/00/c000006c.htm
vti_author:SR|VXP2\\orcmid
vti_modifiedby:SR|VXP2\\orcmid
vti_timecreated:TR|06 May 2022 19:12:38 -0000
vti_title:SR|C000004e: Construction Section FrontPage StyleSheet Page
vti_nexttolasttimemodified:TW|06 May 2022 19:12:38 -0000
vti_cacheddtm:TX|03 Sep 2023 18:25:26 -0000
vti_filesize:IR|5338
vti_cachedtitle:SR|C000004e: Construction Section FrontPage StyleSheet Page
vti_cachedbodystyle:SR|<body bgcolor="#FFFFFF" text="#000080" link="#0000FF" vlink="#800080" alink="#FF0000">
vti_cachedlinkinfo:VX|H|http://no-such-site K|c000004e.htm H|c000004e.htm H|../../../orcmid -H|index.htm -S|../../../images/hardhat-thumb.gif I|c000004c.htm -H|../../../ -H|../../../construction I|c000004d.htm H|../../../orcmid
vti_cachedsvcrellinks:VX|NHHS|http://no-such-site FKUS|construction/templates/00/c000004e.htm FHUS|construction/templates/00/c000004e.htm WHUS|orcmid/index.htm FIUS|construction/templates/00/c000004c.htm FIUS|construction/templates/00/c000004d.htm WHUS|orcmid/index.htm
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|true
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252 HTTP-EQUIV=Content-Language en-us GENERATOR Microsoft\\ FrontPage\\ 6.0 ProgId FrontPage.Editor.Document
vti_charset:SR|windows-1252
vti_language:SR|en-us
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 6.0
