vti_encoding:SR|utf8-nl
vti_author:SR|VXP2\\orcmid
vti_modifiedby:SR|VXP2\\orcmid
vti_timelastmodified:TR|07 Sep 2023 19:38:43 -0000
vti_timecreated:TR|07 Sep 2023 16:17:30 -0000
vti_title:SR|c000007b: Alternative Bookcase Logo Title Image Link
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|bib/math.htm bib/softools.htm bib/sysarch.htm bib/r000000.htm bib/cogsci.htm bib/pc.htm bib/philosophy.htm bib/progsys.htm bib/quality.htm bib/swe.htm bib/2000/r001000.htm bib/index.html bib/logic.htm bib/milieu.htm bib/science.htm bib/2000/r000701.htm bib/2000/r000702.htm bib/2000/r000800.htm bib/authors.htm bib/being.htm bib/funprog.htm bib/r000001.htm bib/2000/r000700.htm bib/compsci.htm bib/theory.htm bib/infoware.htm bib/trust.htm
vti_nexttolasttimemodified:TW|07 Sep 2023 16:46:15 -0000
vti_cacheddtm:TX|07 Sep 2023 19:38:43 -0000
vti_filesize:IR|1708
vti_cachedtitle:SR|c000007b: Alternative Bookcase Logo Title Image Link
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|H|../../../bib S|../../../images/F23xy102-2023-09-05-1601-MyBookCase.png H|http://orcmid.com
vti_cachedsvcrellinks:VX|WHUS|bib/index.htm FSUS|images/F23xy102-2023-09-05-1601-MyBookCase.png NHHS|http://orcmid.com
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252 description This\\ Include\\ Page\\ is\\ appropriate\\ for\\ standard\\ web\\ pages\\ that\\ have\\ a\\ bibliographic\\ purpose,\\ such\\ as\\ those\\ in\\ bib/ GENERATOR Microsoft\\ FrontPage\\ 6.0 ProgId FrontPage.Editor.Document
vti_charset:SR|windows-1252
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 6.0
