vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Sep 2023 19:36:50 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|VXP2\\orcmid
vti_modifiedby:SR|VXP2\\orcmid
vti_timecreated:TR|06 May 2022 19:10:04 -0000
vti_title:SR|c000005b: Standard Hard-Hat Image
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|04 Sep 2023 19:35:58 -0000
vti_cacheddtm:TX|04 Sep 2023 19:36:50 -0000
vti_filesize:IR|1729
vti_cachedtitle:SR|c000005b: Standard Hard-Hat Image
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|H|index.htm S|../../../images/hardhat-thumb.gif
vti_cachedsvcrellinks:VX|FHUS|construction/templates/00/index.htm FSUS|images/hardhat-thumb.gif
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252 GENERATOR Microsoft\\ FrontPage\\ 6.0 ProgId FrontPage.Editor.Document
vti_charset:SR|windows-1252
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 6.0
