vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Sep 2023 19:30:19 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|construction/templates/00/c000005.htm bib/2003/r030800.htm bib/2001/r010800a.htm construction/templates/00/c000007.htm bib/2001/r010800.htm
vti_author:SR|VXP2\\orcmid
vti_modifiedby:SR|VXP2\\orcmid
vti_timecreated:TR|29 Aug 2008 00:14:01 -0000
vti_title:SR|c000005b: Standard Section Title Image Link
vti_nexttolasttimemodified:TW|29 Aug 2023 00:51:01 -0000
vti_cacheddtm:TX|04 Sep 2023 19:30:19 -0000
vti_filesize:IR|1566
vti_cachedtitle:SR|c000005b: Standard Section Title Image Link
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|H|../../../../ S|../../../images/orc-DW-2004-08-07a1.PNG H|http://orcmid.com
vti_cachedsvcrellinks:VX|NHUS|file:/// FSUS|images/orc-DW-2004-08-07a1.PNG NHHS|http://orcmid.com
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252 GENERATOR Microsoft\\ FrontPage\\ 6.0 ProgId FrontPage.Editor.Document
vti_charset:SR|windows-1252
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 6.0
