vti_encoding:SR|utf8-nl
vti_author:SR|VXP2\\orcmid
vti_modifiedby:SR|VXP2\\orcmid
vti_timelastmodified:TR|07 Sep 2023 19:40:02 -0000
vti_timecreated:TR|07 Sep 2023 16:16:44 -0000
vti_title:SR|c000007a: Additional Logos Template - Diary & Job Jar 
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|construction/templates/00/c000007a.htm
vti_nexttolasttimemodified:TW|07 Sep 2023 19:34:56 -0000
vti_cacheddtm:TX|10 Sep 2023 18:48:04 -0000
vti_filesize:IR|10768
vti_cachedtitle:SR|c000007a: Additional Logos Template - Diary & Job Jar 
vti_cachedbodystyle:SR|<body stylesrc="c000004e.htm" bgcolor="#FFFFFF" text="#000080" link="#0000FF" vlink="#800080" alink="#FF0000">
vti_cachedlinkinfo:VX|Y|c000004e.htm -H|../../../construction -S|../../../images/hardhat-logo.gif I|c000004b.htm K|../../c000001.htm H|../../c000001.htm H|c000005.htm H|../../../ H|../../ H|../ H|./ H|c000007a.htm K|c000007a.htm -H|../../2007/11/c071101.htm I|../../2007/11/c071101d4.htm -H|index.htm -S|../../../images/hardhat-thumb.gif I|c000004c.htm -H|../../../ -H|../../../construction I|c000004d.htm H|../../../orcmid
vti_cachedsvcrellinks:VX|FYUS|construction/templates/00/c000004e.htm FIUS|construction/templates/00/c000004b.htm FHUS|construction/c000001.htm FHUS|construction/c000001.htm FHUS|construction/templates/00/c000005.htm WHUS|index.htm WHUS|construction/index.htm WHUS|construction/templates/index.htm WHUS|construction/templates/00/index.htm FHUS|construction/templates/00/c000007a.htm FKUS|construction/templates/00/c000007a.htm FIUS|construction/2007/11/c071101d4.htm FIUS|construction/templates/00/c000004c.htm FIUS|construction/templates/00/c000004d.htm WHUS|orcmid/index.htm
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|true
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252 HTTP-EQUIV=Content-Language en-us GENERATOR Microsoft\\ FrontPage\\ 6.0 ProgId FrontPage.Editor.Document
vti_charset:SR|windows-1252
vti_language:SR|en-us
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 6.0
