vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Sep 2023 19:45:50 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|construction/c000000.htm construction/c000001.htm construction/templates/00/c000005.htm construction/templates/00/c000007a.htm construction/templates/00/c000005a.htm construction/templates/00/c000007.htm
vti_author:SR|VXP2\\orcmid
vti_modifiedby:SR|VXP2\\orcmid
vti_timecreated:TR|06 May 2022 19:12:24 -0000
vti_title:SR|C000005: Ordinary Page Structure
vti_nexttolasttimemodified:TW|02 Sep 2023 00:41:45 -0000
vti_cacheddtm:TX|04 Sep 2023 19:45:50 -0000
vti_filesize:IR|13111
vti_cachedtitle:SR|C000005: Ordinary Page Structure
vti_cachedbodystyle:SR|<body stylesrc="c000005e.htm" bgcolor="#FFFFFF" text="#000080" link="#0000FF" vlink="#800080" alink="#FF0000">
vti_cachedlinkinfo:VX|Y|c000005e.htm -H|../../../../ -S|../../../images/orc-DW-2004-08-07a1.PNG -H|http://orcmid.com I|c000005b.htm H|../../../ H|../../ H|../ H|./ H|c000005.htm K|c000005.htm H|c000005b.htm -H|../../../../ -S|../../../images/orc-DW-2004-08-07a1.PNG -H|http://orcmid.com I|c000005b.htm H|c000005b.htm H|../../../images/hardhat-thumb.gif S|../../../images/hardhat-thumb.gif H|c000005d.htm -H|../../../ I|c000005d.htm H|c000005d.htm H|c000005d.htm H|c000005e.htm H|c000005e.htm H|c000005.htm H|../../orcmid.htm H|index.htm S|../../../images/hardhat-thumb.gif -H|../../../ -H|../../../construction I|c000004d.htm H|../../../orcmid
vti_cachedsvcrellinks:VX|FYUS|construction/templates/00/c000005e.htm FIUS|construction/templates/00/c000005b.htm WHUS|index.htm WHUS|construction/index.htm WHUS|construction/templates/index.htm WHUS|construction/templates/00/index.htm FHUS|construction/templates/00/c000005.htm FKUS|construction/templates/00/c000005.htm FHUS|construction/templates/00/c000005b.htm FIUS|construction/templates/00/c000005b.htm FHUS|construction/templates/00/c000005b.htm FHUS|images/hardhat-thumb.gif FSUS|images/hardhat-thumb.gif FHUS|construction/templates/00/c000005d.htm FIUS|construction/templates/00/c000005d.htm FHUS|construction/templates/00/c000005d.htm FHUS|construction/templates/00/c000005d.htm FHUS|construction/templates/00/c000005e.htm FHUS|construction/templates/00/c000005e.htm FHUS|construction/templates/00/c000005.htm NHUS|construction/orcmid.htm FHUS|construction/templates/00/index.htm FSUS|images/hardhat-thumb.gif FIUS|construction/templates/00/c000004d.htm WHUS|orcmid/index.htm
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|true
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252 GENERATOR Microsoft\\ FrontPage\\ 6.0 ProgId FrontPage.Editor.Document
vti_charset:SR|windows-1252
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 6.0
