vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Sep 2023 17:47:43 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|bib/2001/index.htm bib/index.htm construction/index.htm index.htm bib/2000/index.htm bib/construction.htm construction/templates/00/c000003.htm construction/templates/00/index.htm construction/templates/index.htm bib/2003/index.htm construction.htm orcmid/index.htm bib/2002/index.htm construction/2007/11/index.htm construction/2007/index.htm construction/construction.htm images/index.htm
vti_author:SR|VXP2\\orcmid
vti_modifiedby:SR|VXP2\\orcmid
vti_timecreated:TR|03 Apr 2010 04:24:46 -0000
vti_title:SR|c000003b: Construction Structure Title Image
vti_nexttolasttimemodified:TW|02 Sep 2023 17:09:50 -0000
vti_cacheddtm:TX|04 Sep 2023 17:47:44 -0000
vti_filesize:IR|1447
vti_cachedtitle:SR|c000003b: Construction Structure Title Image
vti_cachedbodystyle:SR|<body stylesrc="c000003e.htm" bgcolor="#E0E0E0" text="#000080" link="#0000FF" vlink="#800080" alink="#FF0000">
vti_cachedlinkinfo:VX|Y|c000003e.htm H|../../../index.html S|../../../images/ScaffoldingWorkers-logo.png
vti_cachedsvcrellinks:VX|FYUS|construction/templates/00/c000003e.htm NHUS|index.html FSUS|images/ScaffoldingWorkers-logo.png
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252 HTTP-EQUIV=Content-Language en-us description Construction\\ Workers\\ on\\ Scaffolding GENERATOR Microsoft\\ FrontPage\\ 6.0 ProgId FrontPage.Editor.Document
vti_charset:SR|windows-1252
vti_language:SR|en-us
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 6.0
