vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Sep 2023 18:35:41 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|VXP2\\orcmid
vti_modifiedby:SR|ASTRAENDO2\\orcmi
vti_timecreated:TR|25 Jun 2008 04:17:57 -0000
vti_title:SR|c000006b1: ClustrMap Template [current]
vti_backlinkinfo:VX|bib/math.htm bib/softools.htm bib/sysarch.htm bib/r000000.htm bib/cogsci.htm bib/pc.htm bib/philosophy.htm bib/progsys.htm bib/quality.htm bib/swe.htm bib/2000/r001000.htm bib/index.html bib/logic.htm bib/milieu.htm bib/science.htm bib/2000/r000701.htm bib/2000/r000702.htm bib/2000/r000800.htm bib/authors.htm construction/templates/00/c000006c.htm bib/being.htm bib/funprog.htm bib/r000001.htm bib/2000/r000700.htm bib/compsci.htm bib/theory.htm bib/2001/r010100.htm bib/infoware.htm bib/trust.htm
vti_cacheddtm:TX|10 Sep 2023 18:35:41 -0000
vti_filesize:IR|2228
vti_cachedtitle:SR|c000006b1: ClustrMap Template [current]
vti_cachedbodystyle:SR|<body stylesrc="c000004e.htm" bgcolor="#FFFFFF" text="#000080" link="#0000FF" vlink="#800080" alink="#FF0000">
vti_cachedlinkinfo:VX|Y|c000004e.htm -H|c000006.htm -H|https://clustrmaps.com/site/1bw9w -S|//www.clustrmaps.com/map_v2.png I|c000006c1.htm
vti_cachedsvcrellinks:VX|FYUS|construction/templates/00/c000004e.htm FIUS|construction/templates/00/c000006c1.htm
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|true
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252 HTTP-EQUIV=Content-Language en-us GENERATOR Microsoft\\ FrontPage\\ 6.0 ProgId FrontPage.Editor.Document
vti_charset:SR|windows-1252
vti_language:SR|en-us
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 6.0
