vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Sep 2023 17:51:50 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|VXP2\\orcmid
vti_modifiedby:SR|VXP2\\orcmid
vti_timecreated:TR|06 May 2022 23:35:36 -0000
vti_title:SR|c000003a: Construction-Structure Template Diary & Job Jar 
vti_backlinkinfo:VX|construction/templates/00/c000003a.htm
vti_nexttolasttimemodified:TW|02 Sep 2023 18:08:29 -0000
vti_cacheddtm:TX|10 Sep 2023 18:48:03 -0000
vti_filesize:IR|14431
vti_cachedtitle:SR|c000003a: Construction-Structure Template Diary & Job Jar 
vti_cachedbodystyle:SR|<body stylesrc="c000004e.htm" bgcolor="#FFFFFF" text="#000080" link="#0000FF" vlink="#800080" alink="#FF0000">
vti_cachedlinkinfo:VX|Y|c000004e.htm -H|../../../construction -S|../../../images/hardhat-logo.gif I|c000004b.htm K|../../c000001.htm H|../../c000001.htm H|c000003.htm H|../../../ H|../../ H|../ H|./ H|c000003a.htm K|c000003a.htm -H|../../2007/11/c071101d.htm -H|../../2007/11/c071101.htm I|../../2007/11/c071101d3.htm H|index.htm S|../../../images/hardhat-thumb.gif -H|../../../ -H|../../../construction I|c000004d.htm H|../../../orcmid
vti_cachedsvcrellinks:VX|FYUS|construction/templates/00/c000004e.htm FIUS|construction/templates/00/c000004b.htm FHUS|construction/c000001.htm FHUS|construction/c000001.htm FHUS|construction/templates/00/c000003.htm WHUS|index.htm WHUS|construction/index.htm WHUS|construction/templates/index.htm WHUS|construction/templates/00/index.htm FHUS|construction/templates/00/c000003a.htm FKUS|construction/templates/00/c000003a.htm FIUS|construction/2007/11/c071101d3.htm FHUS|construction/templates/00/index.htm FSUS|images/hardhat-thumb.gif FIUS|construction/templates/00/c000004d.htm WHUS|orcmid/index.htm
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|true
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252 HTTP-EQUIV=Content-Language en-us GENERATOR Microsoft\\ FrontPage\\ 6.0 ProgId FrontPage.Editor.Document
vti_charset:SR|windows-1252
vti_language:SR|en-us
vti_progid:SR|FrontPage.Editor.Document
vti_generator:SR|Microsoft FrontPage 6.0
