vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Sep 2023 19:56:20 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|VXP2\\orcmid
vti_modifiedby:SR|VXP2\\orcmid
vti_timecreated:TR|06 May 2022 23:35:36 -0000
vti_title:SR|orcmid.github.io construction/templates/00/ Construction Structure
vti_backlinkinfo:VX|construction/templates/00/c000004c.htm construction/templates/00/c000005.htm construction/templates/00/c000005c.htm construction/templates/00/c000003a.htm construction/templates/00/index.htm construction/templates/index.htm construction/templates/00/c000005e.htm construction/templates/00/c000006.htm construction/templates/00/c000006c.htm construction/templates/00/c000007.htm
vti_nexttolasttimemodified:TR|04 Sep 2023 19:54:58 -0000
vti_cacheddtm:TX|10 Sep 2023 18:48:04 -0000
vti_filesize:IR|6648
vti_cachedtitle:SR|orcmid.github.io construction/templates/00/ Construction Structure
vti_cachedbodystyle:SR|<body stylesrc="c000003e.htm" bgcolor="#E0E0E0" text="#000080" link="#0000FF" vlink="#800080" alink="#FF0000">
vti_cachedlinkinfo:VX|Y|c000003e.htm -H|../../../index.html -S|../../../images/ScaffoldingWorkers-logo.png I|c000003b.htm H|../../../ H|../../ H|../ H|./ H|index.htm H|../index.htm H|../../construction.htm H|index.htm H|../../c000001.htm -H|../../2007/11/c071101c.htm -H|../../2007/11/c071101.htm I|../../2007/11/c071101d2.htm H|../../c000001.htm H|../../construction.htm S|../../../images/hardhat-thumb.gif -H|../../../ -H|../../../index.htm I|c000003d.htm H|../../../orcmid
vti_cachedsvcrellinks:VX|FYUS|construction/templates/00/c000003e.htm FIUS|construction/templates/00/c000003b.htm WHUS|index.htm WHUS|construction/index.htm WHUS|construction/templates/index.htm WHUS|construction/templates/00/index.htm FHUS|construction/templates/00/index.htm FHUS|construction/templates/index.htm FHUS|construction/construction.htm FHUS|construction/templates/00/index.htm FHUS|construction/c000001.htm FIUS|construction/2007/11/c071101d2.htm FHUS|construction/c000001.htm FHUS|construction/construction.htm FSUS|images/hardhat-thumb.gif FIUS|construction/templates/00/c000003d.htm WHUS|orcmid/index.htm
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|true
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|GENERATOR Microsoft\\ FrontPage\\ 6.0
vti_charset:SR|windows-1252
vti_generator:SR|Microsoft FrontPage 6.0
