# nfoWare.com/.htaccess               UTF-8                  dh:2007-08-07
AddCharset utf-8 .txt

# 0.00 2007-08-07-18:15 Introduce default utf-8 for .txt files
#
#                       *** end of nfoWare.com/.htaccess ***